<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/1f413b2e-3d2e-4484-b5b9-d3ce0e61e8c6/resourceGroups/appsvc_linux_centralus/providers/Microsoft.ApiManagement/service/CarSellerAPIapi/apis/CarSellerAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/1f413b2e-3d2e-4484-b5b9-d3ce0e61e8c6/resourcegroups/appsvc_linux_centralus/providers/Microsoft.Web/sites/CarSeller</ResourceId>
    <ResourceGroup>appsvc_linux_centralus</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://carseller.azurewebsites.net/swagger</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://carseller.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a729dbe3-35ac-492a-829a-418762ae4a7d</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarSeller</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarSeller</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>